[submodule "raspicat_ros"]
	path = raspicat_ros
	url = https://github.com/CIT-Autonomous-Robot-Lab/raspicat_ros
[submodule "raspicat_description"]
	path = raspicat_description
	url = https://github.com/CIT-Autonomous-Robot-Lab/raspicat_description
[submodule "raspicat_setup_scripts"]
	path = raspicat_setup_scripts
	url = git@github.com:CIT-Autonomous-Robot-Lab/raspicat_setup_scripts.git
[submodule "raspicat_slam_navigation"]
	path = raspicat_slam_navigation
	url = git@github.com:CIT-Autonomous-Robot-Lab/raspicat_slam_navigation.git
[submodule "mcl_2d"]
	path = mcl_2d
	url = https://github.com/RyoFunai/mcl_2d.git
[submodule "navigation2"]
	path = navigation2
	url = https://github.com/RyoFunai/navigation2.git
